.header-right-info{
  .dropdown-toggle::after {
    display: none;
  }
}
.header-top-menu{
  .dropdown-toggle::after {
    display: none;
  }
}
.font-18{
  font-size: 18px;
}
.font-16{
  font-size: 16px;
}

.div-w-clock{
  color: #fff;
    width: 35px;
    height: 44px;
    top: 0px;
    left: 0px;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    background: #303030;
    position: relative;
    &:after{
      top: 10px;
      position: absolute;
      content: "";
      left: 32px;
      border-left-color: #303030;
      border-top: 11px solid transparent;
      border-bottom: 11px solid transparent;
      border-left: 11px solid #303030;
  }
}

.delete-termin-btn{

    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
    &:hover{
      cursor: pointer;
      opacity:1;
    }
}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

//3574DF
  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-weight: normal;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background: white;
    border: 1px solid rgba(199,199,199, 0.5);
    border-radius: 3px;
  }

  &.termin-checkbox + label:before{
    position: relative;
  }

  // Box checked
  &:checked + label:before {
    background: #fff;
    border: 1px solid #3574DF;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 9px;
    background: #3574DF;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 #3574DF,
      4px 0 0 #3574DF,
      4px -2px 0 #3574DF,
      4px -4px 0 #3574DF,
      4px -6px 0 #3574DF,
      4px -8px 0 #3574DF;
    transform: rotate(45deg);
  }

  &.termin-checkbox:checked + label:after{
  top: 13px;
  }

  &.termin-checkbox:checked + label div.termin-div{
  background-color: #E9EFF8;
  border: 1px solid rgba(53,116,223, 0.3);
  }

}

.day-div{
    border: 1px solid rgba(199,199,199, 0.2);
    .p-div{
      bottom: 2px;
      position: relative;
      min-width: 25px;
    }

     &.checked-div{
    background-color: #E9EFF8;
    border: 1px solid rgba(53,116,223, 0.3);
    p{
      font-weight: bold;
    }
    }

}

.month-div{
    border: 1px solid rgba(199,199,199, 0.2);
    .p-div{
      bottom: 2px;
      position: relative;
      min-width: 44px;
    }

     &.checked-div{
    background-color: #E9EFF8;
    border: 1px solid rgba(53,116,223, 0.3);
    p{
      font-weight: bold;
    }
    }

}
.all-content-wrapper{
    background-color: #F6F8FA;
}
.termini-wrapper-div{

  background-color: #fff;
  border: 1px solid #979797;
    float: left;
    padding: 20px;
    text-align: left;
}

.background-img{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 1px solid #000;
}

.custom-nav{
    border-bottom: none;

    .nav-item{
      margin-bottom: 0;
    }

    a.nav-link{
       color: #313131;
       background-color: #eee;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 1px solid #979797;
      border-left: 1px solid #979797;
      border-right: 1px solid #979797;
       border-bottom: none;

       padding: 8px 25px;
      -webkit-transition-duration: 0s;
      -moz-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s;
      &:hover{
       color: darken(#313131, 10%);
       border-color: darken(#979797, 10%);
       border-bottom: none;
       cursor: pointer;
      }
      &.active{
       border-color: #979797 #979797 #fff;
       padding: 12px 40px;
        top: 1px;
        position: relative;
      }
    }
}

.img-circle {
  border-radius: 50%;
  border: 1px solid #eee;
}
.bend-list{
  z-index: 3;
  li:nth-child(odd){
    background: #F6F8FA;
  }
  li:hover{
    cursor: pointer;
    background: #d6dfe8;
  }
}
