@media (min-width: 1600px)
{
  .col-xxl-3 {
      -webkit-box-flex: 0;
      flex: 0 0 25%;
      max-width: 25%;
  }
}
.ml1rem{
    margin-left: 0.1rem;
}

.header-right-info .dropdown-toggle::after {
  display: none;
}
.header-top-menu .dropdown-toggle::after {
  display: none;
}
.font-18 {
  font-size: 18px;
}
.font-16 {
  font-size: 16px;
}
.font-14 {
  font-size: 14px;
}
.div-w-clock {
  color: #fff;
  width: 35px;
  height: 44px;
  top: 0px;
  left: 0px;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  background: #303030;
  position: relative;
}
.div-w-clock:after {
  top: 10px;
  position: absolute;
  content: "";
  left: 32px;
  border-left-color: #303030;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #303030;
}
.delete-termin-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.delete-termin-btn:hover {
  cursor: pointer;
  opacity: 1;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-weight: normal;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background: white;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 3px;
}
.styled-checkbox.termin-checkbox + label:before {
  position: relative;
}
.styled-checkbox:checked + label:before {
  background: #fff;
  border: 1px solid #3574DF;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 19px;
  top: 25px;
  background: #3574DF;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #3574DF, 4px 0 0 #3574DF, 4px -2px 0 #3574DF, 4px -4px 0 #3574DF, 4px -6px 0 #3574DF, 4px -8px 0 #3574DF;
  transform: rotate(45deg);
}

.delete-termin-div .styled-checkbox:checked + label:after {
  left: 3px;
}

.styled-checkbox.termin-checkbox:checked + label:after {
  top: 13px;
}
.styled-checkbox.termin-checkbox:checked + label div.termin-div {
  background-color: #E9EFF8;
  border: 1px solid rgba(53, 116, 223, 0.3);
}
.day-div {
  border: 1px solid rgba(199, 199, 199, 0.2);
}
.day-div .p-div {
  bottom: 2px;
  position: relative;
  min-width: 25px;
}
.day-div.checked-div {
  background-color: #E9EFF8;
  border: 1px solid rgba(53, 116, 223, 0.3);
}
.day-div.checked-div p {
  font-weight: bold;
}
.month-div, .year-div {
  border: 1px solid rgba(199, 199, 199, 0.2);
  width: 100%;
}

@media(min-width:768px)
{
  .month-div{
    width: calc(100% / 6);
  }
  #modal-uredi-termine .modal-dialog{
    max-width: 700px;
  }
}



.month-div .p-div,.year-div .p-div {
  bottom: 2px;
  position: relative;
  min-width: 44px;
}
.month-div.checked-div,.year-div.checked-div {
  background-color: #E9EFF8;
  border: 1px solid rgba(53, 116, 223, 0.3);
}
.month-div.checked-div p,.year-div.checked-div p {
  font-weight: bold;
}
.all-content-wrapper {
  background-color: #F6F8FA;
}
.termini-wrapper-div {
  background-color: #fff;
  border: 1px solid #979797;
  float: left;
  padding: 20px;
  text-align: left;
}
.background-img {
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 1px solid #000;
}
.custom-nav {
  border-bottom: none;
}
.custom-nav .nav-item {
  margin-bottom: 0;
}
.custom-nav a.nav-link {
  color: #313131;
  background-color: #eee;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid #979797;
  border-left: 1px solid #979797;
  border-right: 1px solid #979797;
  border-bottom: none;
  padding: 8px 25px;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.custom-nav a.nav-link:hover {
  color: #181818;
  border-color: #7e7e7e;
  border-bottom: none;
  cursor: pointer;
}
.custom-nav a.nav-link.active {
  border-color: #979797 #979797 #fff;
  padding: 12px 40px;
  top: 1px;
  position: relative;
}
.img-circle {
  border-radius: 50%;
  border: 1px solid #eee;
}
.form-group{
  position: relative;
}
.c-error .c-validation{
  background: #c51244 !important;
  padding: 3px 0.75rem !important;
  border-radius: 0 !important;
  position: absolute;
  display: inline-block;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  z-index: 2;
}
.c-error  .c-validation:before{
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c51244;
  position: absolute;
  top: -10px;
}
.c-label:after{
  color: #c51244 !important;
}
.c-error input, .c-error input:focus, .c-error input::placeholder, .c-error select, .c-error .c-choice-option{
  background: #fff0f4;
  color: #c51244;
}
.c-error input, .c-error select{
  border: 1px solid #c51244 !important;
}
.opacity-0 {
  opacity:0!important;
}
.opacity-1 {
  opacity:0.2!important;
}
.opacity-2 {
  opacity:0.4!important;
}
.opacity-3 {
  opacity:0.6!important;
}
.opacity-4 {
  opacity:.8!important;
}
.opacity-5 {
  opacity:1!important;
}
.close.delete-img{
  width: 25px;
  height: 25px;
  top: 10px;
  right: 30px;
  border-radius: 50%;
  color: #fff;
  opacity: 0.5;
  background: red;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  outline: none;
  z-index: 2;
}
.close.delete-img span{
  bottom: 3px;
}
.close.delete-img:hover{
  opacity: 1;
}
.prostorija-img{
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.prostorija-img:hover{
  background-color: #78b5ff;
}
.prostorija-page .profile-text{
  padding: 0.25rem;
  border: 1px solid transparent;
  bottom: 0;
  left: 0;
}

.prostorija-page .profile-text div{
  background: #006DF0;
}

.cursor-pointer{
  cursor: pointer;
}

@media (min-width: 1600px)
{
  .col-xxl-6 {
      -webkit-box-flex: 0;
      flex: 0 0 50%;
      max-width: 50%;
  }
  .col-xxl-3 {
      -webkit-box-flex: 0;
      flex: 0 0 25%;
      max-width: 25%;
  }
}
.img-band-profile{
  border: 2px solid #303030;
  background: #303030;
}
.bend-info-div{
  background: #eee;
}
.btn-edit-custom{

}
.btn-edit-custom .fas{
  color: #dd2121;
}
