/*
kartice
 crno - 313131
 sivo - EEEEEE
 on drag - FFFFFF

dodaj btn
 zeleno - #8FE38F
 zeleno border - #2D722D

datum
 crno border - 313131
 sivo - #EEEEEE

bend rezerviran
 zelena tamnija - #4BAD4B
 zelene - #8EE28E

termini div
  border - #979797
 */

#external-events{

	p{
	    line-height: 30px;
	    font-size: 14px;
	    margin-bottom: 0;
	    padding-right: 15px;
	    color: #313131;
	    font-weight: bold;

	    input {
		    margin: 0;
		    vertical-align: middle;
		  }

	}

	div.fc-event {
	    margin: 10px 0;
	    cursor: pointer;
	    display: inline-block;
	    padding: 0;
	  }

	 h4 {
	    font-size: 16px;
	    margin-top: 0;
	  }


}

.all-content-wrapper{

	 button{

	    -webkit-transition: background-color 0.2s;
	    transition: background-color 0.2s;

	    &.btn-custon-four{

	    	color: #313131;
		    .fa{
	    		font-size: 10px;
		    }
	    }

	    &.btn-success{
	    	background-color: #8EE28E;
	    	border-color: #4BAD4B;
	    	&:hover{
	    		background-color:darken(#8EE28E, 10%);
	    	}
	    }
	}
}

button.fc-button-primary{
	background-color: #eee;
	color: #313131;
	border-color: #979797;
	box-shadow: none;

	&:focus, &.fc-button-active:focus{
		box-shadow: none;
	}

	&:disabled{
		background-color: #eee;
		color: #313131;
		border-color: #979797;
    	opacity: 0.5;
		&:focus{
			box-shadow: none;
		}
	}

	&.fc-button-active{
		background-color: #313131;
		color: #fff;

	}
}

#calendar{

    float: right;
    margin-bottom: 150px;

	.fc-head{
		background-color: #313131;
	}

	.fc-event{
		background-color: #eee;
		color: #313131;
		font-weight: bold;
		border: 1px solid #979797;
	}
	.div-left{
    	line-height: 50px;
    	&:after{
    		top:13px;
    	}
	}

  .fc-event-container {

    .has-band{
    	&.fc-content{
    		background-color: #8EE28E;

    	}
    	p{
		    line-height: 1;
		    margin-top: 9px;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    padding-right: 5px;
    	}
    	.div-left{
    		width: 44px;
    		background-color: #4BAD4B;
    		&:after {
			    content: "";
			    left: 40px;
			    border-left-color: #4BAD4B;
			}
    	}
    }

	.img-event {
	    vertical-align:top;
	    border-radius: 50%;
	    margin: 8px 3px;
	    display: inline-block;
	    width: 34px;

	  }

  }

}

#sidebar{
	top:0;

	.sidebar-header{
		padding: 13px 20px 14px 20px;
	}
}

.header-top-area {
	background-color: #000;
}

div.fc-event, div.fc-day-grid-event{
	background-color: #eee;
    border: 1px solid #979797;
	padding: 5px 10px;
	text-align: center;
	font-size: 14px;
	color: #313131;
	font-weight: bold;
}

.modal{

	.div-right{
		margin-left: 40px;
	}
	.fc-event{
		&:hover{
			p{
				color: #313131;
			}
		}
	}
}


.div-left{
   color: #fff;
   position: absolute;
   z-index: 9;
   width: 35px;
   height: 100%;
   top: 0px;
   left: 0px;
   font-size: 16px;
   line-height: 30px;
   text-align: center;
   background: #303030;

   &:after{
   	top:3px;
    position: absolute;
    content: "";
    left: 32px;
    border-left-color: #303030;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid #303030;
   }
}


.div-right{
   margin-left: 55px;
}

.d-inline-block, button.d-inline-block{
	display: inline-block;
}
.p-absolute{
	position: absolute;
}

.m-0{
	margin: 0;
}

#modal-dodaj-termine-kal{
	.row-1{
		margin-bottom: 10px;
		.unstyled{
		    bottom: 3px;
		    position: relative;

		}
		.dan-p{
		    top: 1px;
		    position: relative;
		}
	}
}

/*
kartice
 crno - 313131
 sivo - EEEEEE
 on drag - FFFFFF

dodaj btn
 zeleno - #8FE38F
 zeleno border - #2D722D

datum
 crno border - 313131
 sivo - #EEEEEE

bend rezerviran
 zelena tamnija - #4BAD4B
 zelene - #8EE28E

termini div
  border - #979797
 */
