/*
kartice
 crno - 313131
 sivo - EEEEEE
 on drag - FFFFFF

dodaj btn
 zeleno - #8FE38F
 zeleno border - #2D722D

datum
 crno border - 313131
 sivo - #EEEEEE

bend rezerviran
 zelena tamnija - #4BAD4B
 zelene - #8EE28E

termini div
  border - #979797
 */
#external-events p {
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 0;
  padding-right: 15px;
  color: #313131;
  font-weight: bold;
}
#external-events p input {
  margin: 0;
  vertical-align: middle;
}
#external-events div.fc-event {
  margin: 10px 0;
  cursor: pointer;
  display: inline-block;
  padding: 0;
}
#external-events h4 {
  font-size: 16px;
  margin-top: 0;
}
.all-content-wrapper button {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.all-content-wrapper button.btn-custon-four {
  color: #313131;
}
.all-content-wrapper button.btn-custon-four .fa {
  font-size: 10px;
}
.all-content-wrapper button.btn-success {
  background-color: #8EE28E;
  border-color: #4BAD4B;
}
.all-content-wrapper button.btn-success:hover {
  background-color: #65d865;
}
button.fc-button-primary {
  background-color: #eee;
  color: #313131;
  border-color: #979797;
  box-shadow: none;
}
button.fc-button-primary:focus,
button.fc-button-primary.fc-button-active:focus {
  box-shadow: none;
}
button.fc-button-primary:disabled {
  background-color: #eee;
  color: #313131;
  border-color: #979797;
  opacity: 0.5;
}
button.fc-button-primary:disabled:focus {
  box-shadow: none;
}
button.fc-button-primary.fc-button-active {
  background-color: #313131;
  color: #fff;
}
#calendar {
  margin-bottom: 150px;
}
#calendar .fc-head {
  background-color: #313131;
}
#calendar .fc-event {
  background-color: #eee;
  color: #313131;
  font-weight: bold;
  border: 1px solid #979797;
}
#calendar .div-left {
  line-height: 50px;
}
#calendar .div-left:after {
  top: 13px;
}
#calendar .fc-event-container .has-band.fc-content {
  background-color: #8EE28E;
}
#calendar .fc-event-container .has-band p {
  line-height: 1;
  margin-top: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}
#calendar .fc-event-container .has-band .div-left {
  width: 44px;
  background-color: #4BAD4B;
}
#calendar .fc-event-container .has-band .div-left:after {
  content: "";
  left: 40px;
  border-left-color: #4BAD4B;
}
#calendar .fc-event-container .img-event {
  vertical-align: top;
  border-radius: 50%;
  margin: 8px 3px;
  display: inline-block;
  width: 34px;
}
#sidebar {
  top: 0;
}
#sidebar .sidebar-header {
  padding: 13px 20px 14px 20px;
}
.header-top-area {
  background-color: #000;
}
div.fc-event,
div.fc-day-grid-event {
  background-color: #eee;
  border: 1px solid #979797;
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  color: #313131;
  font-weight: bold;
}
.modal .div-right {
  margin-left: 40px;
}
.modal .fc-event:hover p {
  color: #313131;
}
.div-left {
  color: #fff;
  position: absolute;
  z-index: 9;
  width: 35px;
  height: 100%;
  top: 0px;
  left: 0px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  background: #303030;
}
.div-left:after {
  top: 3px;
  position: absolute;
  content: "";
  left: 32px;
  border-left-color: #303030;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #303030;
}
.div-right {
  margin-left: 55px;
}
.d-inline-block,
button.d-inline-block {
  display: inline-block;
}
.p-absolute {
  position: absolute;
}
.m-0 {
  margin: 0;
}
#modal-dodaj-termine-kal .row-1 {
  margin-bottom: 10px;
}
#modal-dodaj-termine-kal .row-1 .unstyled {
  bottom: 3px;
  position: relative;
}
#modal-dodaj-termine-kal .row-1 .dan-p {
  top: 1px;
  position: relative;
}
.custom-scroller {
    overflow: scroll;
    overflow-x: hidden;
}
.custom-scroller::-webkit-scrollbar {
    width: 11px;
}
.custom-scroller::-webkit-scrollbar-thumb {
    background: #a4a4a4;
}
.custom-scroller::-webkit-scrollbar-track {
    background: #e9ecef;
}
