@border-radius: 0;
@color-signal: #037DE4;
@purple-dark: #1f023a;


// VARS

.divTimeSetterContainer {
  //box-shadow: 0px 20px 20px -15px hsla(0, 0%, 0%, 0.5);
  .timeValueBorder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: @border-radius;    
    padding: 0 10px;
  }
  input.timePart {
    text-align: right;
    border: none;
    font-weight: bold;
    padding: 0;
    cursor: text;
    outline: none;
  }
  input.hours,
  input.minutes {
    width: 30px;
  }
  span.hourSymbol,
  span.minuteSymbol {
    margin: 0 0.5em;
  }
  span.timeDelimiter {
    text-align: center;
    font-weight: bold;
  }
  .button-time-control {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 2em;
    cursor: pointer;
    .updownButton {
      background-color: #fff;
      width: 2em;
      text-align: center;
    }
    .updownButton:first-child {
      border-bottom: none;
      /* to remove double line */
    }
    .updownButton:last-child {
    }
    .updownButton i {
      //font-weight: bold;
      //font-size: 1em;
    }
    .updownButton:hover {
      background-color: #F6F8FA;
      color: #303030;
    }
  }
}

// Turn off standard number spinners
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-pocetak, .form-kraj{
  display: flex;
  justify-content: center;
  align-items: center;
}

.postfix-position {
  display: none;
}