.divTimeSetterContainer .timeValueBorder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 0;
  padding: 0 10px;
}
.divTimeSetterContainer input.timePart {
  text-align: right;
  border: none;
  font-weight: bold;
  padding: 0;
  cursor: text;
  outline: none;
}
.divTimeSetterContainer input.hours,
.divTimeSetterContainer input.minutes {
  width: 30px;
}
.divTimeSetterContainer span.hourSymbol,
.divTimeSetterContainer span.minuteSymbol {
  margin: 0 0.5em;
}
.divTimeSetterContainer span.timeDelimiter {
  text-align: center;
  font-weight: bold;
}
.divTimeSetterContainer .button-time-control {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 2em;
  cursor: pointer;
}
.divTimeSetterContainer .button-time-control .updownButton {
  background-color: #fff;
  width: 2em;
  text-align: center;
}
.divTimeSetterContainer .button-time-control .updownButton:first-child {
  border-bottom: none;
  /* to remove double line */
}
.divTimeSetterContainer .button-time-control .updownButton:hover {
  background-color: #F6F8FA;
  color: #303030;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-pocetak,
.form-kraj {
  display: flex;
  justify-content: center;
  align-items: center;
}
.postfix-position {
  display: none;
}
